<section class="jumbotron text-center">
    <div  *ngIf="!registerMode" class="container">
      <h1 class="jumbotron-heading"> Now you can Have A Vaction Day</h1>
      <p class="lead text-muted">Rejester to the System</p>
      <p>
        <a href="#" class="btn btn-primary my-2 mr-2" (click)="rejesterToggel()">Register</a>
        <a href="#" class="btn btn-secondary my-2 mr-2">Learn More</a>
      </p>
    </div>
    <div  *ngIf="registerMode" class="container">
        <div class="row justify-content-center"> 
            <div class="col-4"> 
        <app-register></app-register>
    </div>
    </div>
    </div>
    <p *ngFor="let item of  Employees">
        {{item.username}}
    </p>
  </section>
