<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" [routerLink]="['/manage']">Vactions System</a>
    
  
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/manage']">Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/manage-vactions']"> Management Vactions</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link  " [routerLink]="['/employee']">Employee</a>
  
          <li class="nav-item">
            <a class="nav-link " (click)="logout()">Log-out</a>
        
      </ul>
      <div *ngIf="loggedIn()" class="dropdown">
        <a class="dropdown-toggle text-light">
          Welcom {{users}}
        </a>
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit profile</a>
         <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Log out</a>
        </div>
      </div>
      
      <form *ngIf="!loggedIn()"  #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username" required placeholder="Username"  [(ngModel)]="model.username" >
        <input class="form-control mr-sm-2" type="password" name="password" required placeholder="Password"[(ngModel)]="model.password" >
        <button  [disabled]="!loginForm.valid"class="btn btn-success my-2 my-sm-0" type="submit">login</button>
      </form>
   
  </nav>
  <div class="container">
    <div class="card-body">
  <div id="table" class="table-editable">
<table class="table table-bordered  table-striped text-center table-hover mt-4">
    <thead class="bg-info">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Vaction Date</th>
        <th scope="col">Description</th>
        <th scope="col">Employee Id</th>
        <th scope="col"> Accept Vaction </th>
        <th scope="col">Reject Vaction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Vactions">
        <td>{{item.id}}</td>
        <td>{{item.type}}</td>
        <td>{{item.vactionDate}}</td>
        <td>{{item.description}}</td>
        <td>{{item.empID}}</td>
        <td><button class="btn btn-success" [disabled]  >Accept</button>
            <td><button class="btn btn-danger" [disabled]>Reject</button>
      </tr>
      </tbody>
      </table>
      </div>
      </div> 
  </div>


