
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/nav']">Vactions System</a>
  

  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/nav']">Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/requests']">Vactions Request</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link  " [routerLink]="['/nav']">Employee</a>

        <li class="nav-item">
          <a class="nav-link " (click)="logout()">Log-out</a>
      
    </ul>
    <div *ngIf="loggedIn()" class="dropdown">
      <a class="dropdown-toggle text-light">
        Welcom {{authService.decodedToken?.unique_name}}
      </a>
      <div class="dropdown-menu" >
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit profile</a>
       <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Log out</a>
      </div>
    </div>
    
    <form *ngIf="!loggedIn()"  #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" required placeholder="Username"  [(ngModel)]="model.username" >
      <input class="form-control mr-sm-2" type="password" name="password" required placeholder="Password"[(ngModel)]="model.password" >
      <button  [disabled]="!loginForm.valid"class="btn btn-success my-2 my-sm-0" type="submit">login</button>
    </form>
 
</nav>

<section class="container mt-3 bg-info">
  
  <div  *ngIf="!registerMode" class=" jumbotron text-center">
    <h1 class="jumbotron-heading"> Now you can Have A Vaction Day</h1>
    <p style="font-size: large"  class="text-muted">Welcome Employee</p>
  <p *ngIf="!loggedIn()" style="font-size: large"  class="text-muted">No account! Register</p>
    <p class="lead text-muted">Rejester to the System</p>
    <p>
      <button *ngIf="!loggedIn()"  hr  class="btn btn-primary my-2 mr-2" [routerLink]="['/register']"  routerLinkActive="active" (click)="rejesterToggel()">Register</button>
      <a routerLinkActive="active" [routerLink]="['/manage'] "class="btn btn-secondary my-2 mr-2">
        Swith to Manger Page</a>
    </p>

  </div>
</section>
