<hr>
<h1>Hi toqa</h1>

<div class="contener">
    <table class="table table-striped  table-hover">
        <thead class="table-danger">
<th>Name</th>
<th>Id</th>
<th>phoneNumber</th>
        </thead>
        <tbody>
            <tr>
                <td>Yazn</td>
                <td>2</td>
                <td>0795764456</td>
            </tr>
            <tr>
                <td>Fadel</td>
                <td>10</td>
                <td>0795764456</td>
            </tr>
            <tr>
                <td>Eman</td>
                <td>5</td>
                <td>0795764456</td>
            </tr>
        </tbody>

    </table>


</div>
<div>
    <button class="btn btn-lg btn-outline-dark">Next</button>
</div>